#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

%:
	dh --with quilt $@

override_dh_auto_configure:
	qmake-qt4 PREFIX=/usr DEBUG=1 QMAKE_CFLAGS_DEBUG="$(CFLAGS)" \
		QMAKE_CXXFLAGS_DEBUG="$(CFLAGS)"

override_dh_auto_install:
	$(MAKE) INSTALL_ROOT="$(CURDIR)/debian/keepassx" install
	lrelease-qt4 src/src.pro
	rm -f src/translations/keepassx-xx_XX.qm
	mv src/translations/*.qm debian/keepassx/usr/share/keepassx/i18n

override_dh_auto_clean:
	dh_auto_clean
	rm -rf bin build
